
.rank-30,
.rank-29,
.rank-28,
.rank-27,
.rank-26,
.rank-25,
.rank-24,
.rank-23,
.rank-22,
.rank-21,
.rank-20,
.rank-19,
.rank-18,
.rank-18,
.rank-17,
.rank-16,
.rank-15,
.rank-14,
.rank-13
 {
  background-color:#F00;
}


.rank-12,
.rank-11,
.rank-10,
.rank-9,
.rank-8,
.rank-7
 {
  background-color:#FFEE00;
}

.rank-6,
.rank-5,
.rank-4,
.rank-3,
.rank-2,
.rank-1
 {
  background-color:#FF9900;
}

.rank0 {
  background-color: #CCC;
}

.rank1,
.rank2,
.rank3,
.rank4,
.rank5
 {
  background-color:#99FF99;
}

.rank6,
.rank7,
.rank8,
.rank9,
.rank10,
.rank11,
.rank12,
.rank13,
.rank14,
.rank15
 {
  background-color:#145214;
}

.rank16,
.rank17,
.rank18,
.rank19,
.rank20,
.rank21,
.rank22,
.rank23,
.rank24,
.rank25,
.rank26,
.rank27,
.rank28,
.rank29,
.rank30
 {
  background-color:#4D94FF;
}

